{% extends "base.html" %}
{% block head %}
    {{ super() }}
     <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
     <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
{% endblock %}



{% block content %}
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1000px;height:1000px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
    title: {
        text: '公司类别',
        subtext: ''
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    legend: {
        data: ['1', ]
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'value',
        boundaryGap: [0, 0.01]
    },
    yAxis: {
        type: 'category',
        data:  [{% for n in names %}'{{ n }}',  {% endfor %}]
    },
    series: [
        {
            name: '数量',
            type: 'bar',
            data:  [{% for v in values %}{{ v }},  {% endfor %}]
        },

    ]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
{% endblock %}
